
.cv-page-container {
    max-width: 870px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cv-page-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.cv-page-container .left {
    display: flex;
    align-items: center;
}

.cv-page-container .name {
    margin-left: 20px;
}

.cv-page-container .name h2 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.cv-page-container .name span {
    color: #007bff;
    font-weight: bold;
}

.cv-page-container .right p, 
.cv-page-container .right span {
    margin: 5px 0;
    text-align: right;
}

.cv-page-container .hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

/* Стилі для секцій */
.cv-page-container .two-side-wr {
    display: flex;
    padding: 10px 0;
}

.cv-page-container .left-side {
    flex: 0 0 30%; /* 30% ширини для заголовків */
}

.cv-page-container .right-side {
    flex: 1;
}

.cv-page-container h2 {
    color: #007bff;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 5px;
}